<!-- Footer -->
<!-- TODO: refer to social media -->

<footer class="w3-card footer-container w3-center">  
    <div class="w3-xlarge w3-padding-32">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Powered by <a href="#" target="_blank">Hacker Space Gam</a></p>
</footer>