<!-- Left Column -->
<div class="w3-full">

    <div class="w3-white w3-text-grey">
        <div class="w3-display-container" style="background-color:  #f2f2f2;">
            <a href="#"> <img class="w3-margin" id="user-image" style="width:45%" alt="userimage"> </a>
            <div id="usernameParent" class=" w3-half w3-right w3-container w3-text-black">
                <h2 id="username"></h2>
            </div>
        </div>
        <div class="w3-container" style="background-color:  #f2f2f2;">
            <p><i class="fa fa-key fa-fw w3-margin-right w3-large w3-text-teal"></i>
                <a href="javascript:void(0);" onclick="renderView('display-section-change-pass')">Change Password</a>
            </p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>
                <a href="javascript:void(0);" onclick="renderView('display-section-change-pic')">Change Profile (Coming soon)</a>
            </p>
            <p><i class="fa fa-info fa-fw w3-margin-right w3-large w3-text-teal"></i>
                <a href="javascript:void(0);" onclick="renderView('display-section-details')">See Details</a>
            </p>
            <hr>
        </div>

    </div>
</div><br>

<!-- End Left Column -->
