<form>
    <p>
        <label class="w3-margin-left">Current Password*</label>
        <input id="curr_password" name="curr_password" class="w3-margin-left w3-input w3-animate-input" placeholder="Your Current Password" type="password" style="width:50%" required>
    </p>
    
    <p>
        <label class="w3-margin-left">Password*</label>
        <input id="password" name="password" class="w3-margin-left w3-input w3-animate-input" placeholder="New Password" type="password" style="width:50%" required>
    </p>
    
    <p>
        <label class="w3-margin-left">Retype Password*</label>
        <input id="retyped" name="retyped" class="w3-margin-left w3-input w3-animate-input" placeholder="Retype New Password" type="password" style="width:50%" required>
    </p>
    <submit onclick="putRequest('change_pass')" class="w3-margin-left get-started-button w3-btn w3-button w3-section w3-green w3-ripple"> Request Change </submit>
    <div id="display-password-log-div">
        <label id="display-error-log" class="w3-text-red w3-margin"></label>
        <label id="display-success-log" class="w3-text-green w3-margin"></label>
    </div>
</form>